/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-logo .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  
  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #e53935;
  }
  