# Node modules
node_modules/

# Build output
dist/
out-tsc/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled JavaScript files
*.map

# Compiled TypeScript files
*.tsbuildinfo
*.d.ts

# Angular specific files
.angular/

# Misc
coverage/
*.lock
*.zip
*.tar
*.gz
