.login-recuperar {
    background-color: #f3f4f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login-recuperar .overlap-group-wrapper {
    background-color: #f3f4f6;
    width: 1920px;
    height: 1080px;
  }
  
  .login-recuperar .overlap-group {
    position: relative;
    width: 900px;
    height: 701px;
    top: 138px;
    left: 510px;
  }
  
  .login-recuperar .rectangle {
    position: absolute;
    width: 681px;
    height: 63px;
    top: 248px;
    left: 117px;
    border-radius: 15px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .login-recuperar .div {
    position: absolute;
    width: 681px;
    height: 63px;
    top: 391px;
    left: 117px;
    border-radius: 15px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .login-recuperar .rectangle-2 {
    position: absolute;
    width: 681px;
    height: 78px;
    top: 533px;
    left: 110px;
    background-color: #000000;
    border-radius: 25px;
  }
  
  .login-recuperar .text-wrapper {
    position: absolute;
    width: 261px;
    top: 0;
    left: 322px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login-recuperar .text-wrapper-2 {
    position: absolute;
    width: 230px;
    top: 205px;
    left: 118px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-3 {
    position: absolute;
    width: 230px;
    top: 348px;
    left: 117px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-4 {
    position: absolute;
    width: 149px;
    top: 550px;
    left: 376px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-5 {
    position: absolute;
    width: 315px;
    top: 69px;
    left: 300px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login-recuperar .text-wrapper-6 {
    position: absolute;
    width: 160px;
    top: 480px;
    left: 118px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login-recuperar .text-wrapper-7 {
    position: absolute;
    width: 149px;
    top: 629px;
    left: 376px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .rectangle-3 {
    position: absolute;
    width: 900px;
    height: 700px;
    top: 1px;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .login-recuperar .rectangle-4 {
    position: absolute;
    width: 681px;
    height: 63px;
    top: 334px;
    left: 110px;
    border-radius: 15px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .login-recuperar .text-wrapper-8 {
    position: absolute;
    width: 387px;
    top: 50px;
    left: 277px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .login-recuperar .text-wrapper-9 {
    position: absolute;
    width: 230px;
    top: 270px;
    left: 118px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-10 {
    position: absolute;
    width: 559px;
    top: 550px;
    left: 178px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  