
  
  .login-recuperar .overlap {
    position: absolute;
    width: 681px;
    height: 78px;
    top: 481px;
    left: 102px;
    background-color: #000000;
    border-radius: 25px;
  }
  
  .login-recuperar .text-wrapper {
    position: absolute;
    width: 149px;
    top: 17px;
    left: 266px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-2 {
    position: absolute;
    width: 457px;
    top: 153px;
    left: 110px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .p {
    position: absolute;
    width: 641px;
    top: 296px;
    left: 109px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login-recuperar .text-wrapper-3 {
    position: absolute;
    width: 387px;
    top: 54px;
    left: 274px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }